@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Original+Surfer&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ribeye+Marrow&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Outfit", serif;
    font-weight: 400;
    background: #ffffff;
    color: #000000;
    position: relative;
}

/*Global CSS Starts Here*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", serif;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}

h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -1px;
}

.gradiant_text {
    background: linear-gradient(273deg, #C0F 0%, #09F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.white_bg {
    background-color: #ffffff;
}

.event_list_section .common_heading p {
    color: #FFF8F0;
    font-weight: 400;
}

h2 {
    font-size: 53px;
    color: #191B1F;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: -1px;
}

h3 {
    color: #FFF8F0;
    font-family: Outfit;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

h4 {
    font-size: 36px;
    color: #222;
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 46.8px;
    letter-spacing: -0.72px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
}

a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

img {
    margin-bottom: 0px;
    object-fit: cover;
    width: 100%;
}

.hero_section {
    position: relative;
    /* padding-top: 190px; */
    overflow: hidden;
}

.mb_40 {
    margin-bottom: 40px;
}

.hero_small_heading {
    width: fit-content;
}

.hero_small_heading img {
    height: 12px;
    width: 12px;
}

.quick_search-box p {
    font-size: 14px;
    padding: 12px 20px;
    margin: 0;
    color: #212936;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.35px;
    border-radius: 12px;
    border: 1px solid #D5D7E1;
    background: #FFF;
    /* margin-bottom: 100px; */
}

.quick_search-box {
    width: fit-content;
    gap: 8px;
}

.ai_serch_box {
    max-width: 800px;
    width: 100%;
    border-radius: 36px;
    background: linear-gradient(180deg, rgba(0, 187, 255, 0.10) 0%, rgba(196, 77, 255, 0.10) 100%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 26px;
}

.ai_serch_box .input-group .ai_box img {
    mix-blend-mode: darken;
}

.ai_serch_box .input-group img {
    height: 30px;
    width: 30px;
}

.ai_serch_box .search_button {
    padding: 11px;
    border-radius: 14px;
    background: linear-gradient(273deg, #C0F 0%, #09F 100%);
    box-shadow: 0px 0.723px 0.723px -1.25px rgba(0, 0, 0, 0.18), 0px 2.746px 2.746px -2.5px rgba(0, 0, 0, 0.16), 0px 12px 12px -3.75px rgba(0, 0, 0, 0.06);
}

.ai_serch_box .search_button {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.1px;
}

.ai_serch_box .input_image_box {
    width: 48px;
    height: 48px;
    padding: 9px;
    border-radius: 14px;
    background: linear-gradient(270deg, rgba(167, 129, 255, 0.10) 0%, rgba(27, 187, 255, 0.10) 100%);
}

.ai_serch_box .input-group-text {
    display: flex;
    align-items: center;
    padding: 19px;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: none;
    border-radius: 24px;
}

.ai_serch_box input::placeholder {
    color: rgba(0, 0, 0, 0.40);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai_serch_box input {
    padding: 0;
    margin: 0;
    border: none;
}

.ai_serch_box input[type="text"] {
    color: #000000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai_serch_box .form-control:focus {
    border: none;
    box-shadow: none;
}

.slider_box {
    height: 75px;
}


.slider_text {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    /* 128% */
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff;
}

.slide-track {
    display: flex;
    width: calc(8 * 100px * 2);
    animation: scroll 5s linear infinite;
    gap: 48px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
}

.slider img {
    width: auto;
    height: 35px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.hero_section::before {
    content: "";
    width: 864px;
    height: 736px;
    border-radius: 864px;
    background: rgba(177, 52, 255, 0.08);
    filter: blur(250px);
    position: absolute;
    top: -400px;
    left: -400px;
}

.hero_section::after {
    content: "";
    border-radius: 700px;
    position: absolute;
    top: 400px;
    right: -550px;
    opacity: 1;

    background: linear-gradient(180deg, rgba(215, 25, 142, 0.10) 100%, rgba(125, 61, 151, 0.05) 0%);
    filter: blur(100px);



    width: 700px;
    height: 700px;
    transform: rotate(119.232deg);
}


.common_spacing {
    padding-top: 120px;
    padding-bottom: 80px;
}

.strikethrough {
    color: #969696;
    position: relative;
}


.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid #C0F;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.common_heading {
    margin-bottom: 48px;
}


.common_heading p {
    color: #616161;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    letter-spacing: -0.4px;
}

.platfom_specification .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platfom_specification .accordion-item {
    max-width: 808px;
    width: 100%;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #F0F0F0 !important;
    background: #FFF;
    margin-bottom: 24px;
}

.list_accordian {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #F0F0F0;
    margin-right: 8px;
}

.platfom_specification .accordion-item button {
    padding: 0;
    color: #3D3D3D;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding: 40px 16px;
    border-radius: 4px !important;

}

.platfom_specification .accordion-item button span {

    font-weight: 400;


}

.cta_section {
    background: #FAFAFA;
    /* margin-bottom: 80px; */
}

.cta_box_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_avatars {
    width: 100%;
    max-width: 1025px;
    mix-blend-mode: darken;
}

.cta_button {
    border-radius: 50px;
    border: 1px solid #009DFF;
    box-shadow: 0px 0px 12px 0px rgba(143, 68, 255, 0.06);
    height: 48px;
    padding: 16px 24px;
    gap: 10px;
    max-width: 436px;
    width: 100%;
}

.cta_button img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}





footer {
    background: #FAFAFA;
    padding-top: 70px;
}

.web3p-logo {
    height: 67px;
    width: auto;
}

.footer-description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    margin-top: 32px;
}

.quick_link_title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.quick_link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick_link a {
    justify-content: center;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
}

.footer-copyright {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;


    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.272px;
    text-transform: capitalize;
}

.percentage_section {}

.use_case_photos {
    position: relative;
}

.use_case_photos img {
    border-radius: 10px;
}

.percentage_data {
    position: absolute;
    bottom: 20px;
    left: 23px;
}

.percentage_data p {
    margin-bottom: 0;
}

.percentage_data p:first-child {
    color: #E5E7EB;
    font-family: "Inknut Antiqua";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.percentage_data p:last-child {
    color: #FFF;
    font-family: "Inria Serif";
    font-size: 22.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.member_since {}

.member_since::before {
    content: '';
    display: inline-block;
    width: 55px;
    height: 16px;
    background-image: url(../images/web3plogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}




.member_since {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}






@keyframes infiniteLoop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(calc(-100px * 10), 0, 0);
    }
}

@keyframes infiniteLooplr {
    100% {
        transform: translate3d(0, 0, 0);
    }

    0% {
        transform: translate3d(calc(-100px * 10), 0, 0);
    }
}


.brandsCarousel {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #0000004a 0%, #ffffff00 50%, #0000004a 100%);
    ;
}

.brandsCarousel::before,
.brandsCarousel::after {
    content: "";
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, #000000 0%, #ffffff00 100%);
    position: absolute;
    z-index: 2;
}

.brandsCarousel::before {
    top: 0;
    left: 0;
}

.max_line_width {
    max-width: 1060px;

}

.brandsCarousel::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.carouselTrack {
    width: calc(100px * 40);
    animation: infiniteLoop 10s linear infinite;
    animation-fill-mode: forwards;
    will-change: transform;
}

.carouselTracklr {
    width: calc(100px * 40);
    animation: infiniteLooplr 10s linear infinite;
    animation-fill-mode: forwards;
    will-change: transform;
}

.brandLogo {
    width: calc(100% / 6.8);
    aspect-ratio: 192/240;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.brandLogo img {
    width: 100%;
}

.event_list_section {
    background: url(../images/sec-back.png);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.single_event {
    margin-bottom: 56px;
    position: relative;
    padding: 50px 25px;
    height: 168px;
}

.single_event_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: calc(100% - 50px);
}

.single_event::before {
    content: "";
    position: absolute;
    border: 2px solid #12381C;
    background: #1C4828;
    opacity: 80%;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.single_event .event_date {
    color: #FCFCFC;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.single_event img {
    width: 55px;
    height: 55px;
}

.single_event .place_name {
    color: #FFF;
    font-family: "Original Surfer";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.single_event .place_small {
    color: #C4C4C4;
    text-align: right;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.single_event .event_details {
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: var(--23, linear-gradient(273deg, #C0F 0%, #09F 100%));
    color: #FFF;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}




